<div th:fragment="pie-pagina" class="w-full mx-auto p-4 md:py-8 bg-amber-400 shadow dark:bg-gray-900">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="../img-prin/logo.png" class="h-8" alt="SAM" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-700 sm:mb-0 dark:text-gray-700">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Nosotros</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Politica de Privacidad</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Licencia</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contactanos</a>
                </li>
            </ul>
        </div>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">SAM™</a>. Todos los derechos reservados.</span>