<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAM</title>
    <link rel="stylesheet" href="../styles/outputt.css" />
    <link rel="shortcut icon" href="../img-prin/favicom.png" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
 
</head>
<body>
    
     <header th:insert="fragments/header :: menu-principal" class="flex flex-col"></header>
    
    
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <a href=""><img class="w-30" src="../img-prin/logo.png" alt="" /></a>
            <div id="font-black bg-green-200 text-black text-lg px-8 py-5 rounded-3xl w-full mb-4" th:if="${mensaje != null}" th:text="${mensaje}"></div>
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Inicia sesión en tu cuenta</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            
            <form class="space-y-6" th:action="@{/login}" method="post">
                <div>
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Dirección de correo</label>
                    <div class="mt-2">
                        <input id="username" name="username" type="email" autocomplete="username" required class="px-12 border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" maxlength="45"/>
                    </div>
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                    <div class="mt-2">
                        <input id="password" name="password" type="password" autocomplete="current-password" required class="px-12 border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" maxlength="16" />
                    </div>
                </div>
                <div>
                    <button type="submit" class="flex w-full justify-center my-3 rounded-md bg-amber-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Iniciar sesión</button>
                </div>
            </form>
            <div class="text-sm">
                <p class="flex w-full justify-center">¿No tienes cuenta? <a th:href="@{/usuario/registro}" class="font-semibold text-indigo-600 hover:text-indigo-500">Crear cuenta</a></p>
            </div>
        </div>
    </div>
     
     <footer th:insert="fragments/footer :: pie-pagina"></footer>
</body>
</html>



