<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Peticiones</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="../img-prin/favicom.png" type="image/x-icon">

</head>
<body class="bg-gray-100">
 <header th:insert="fragments/header :: menu-principal" class="flex flex-col   ">

        </header>

    <main class="py-8 px-8">
        <h1 class="text-3xl font-bold mb-8 text-center">NOTIFICACIONES</h1>

        
     <!--div class="flex mb-4 space-x-4">
        <a th:href="@{/peticion/index}" th:if="${solicitud != null}" class="bg-yellow-500 text-white py-2 px-4 rounded border hover:bg-yellow-600">Historial De Peticiones</a>
        <a th:href="@{/solicitudes/index}" th:if="${verificarMascota == 0}" class="bg-yellow-500 text-white py-2 px-4 rounded border hover:bg-yellow-600">Historial De Solicitudes</a>          
    </div-->
        
        

<div class="space-y-4">
  <div  th:each="mascotas : ${mascota}"  class="bg-white p-4 rounded shadow-md ">   
    <div class="flex items-center space-x-4">
      <!-- Contenedor de la imagen -->
      <div class="w-40 h-40 bg-gray-300 rounded-full overflow-hidden">
          <img th:src="@{/logos/{img} (img=${mascotas.imagen_perfil})}" alt="Imagen de Firulais" class="w-full h-full object-cover" />
      </div>
      
      <!-- Contenedor del texto y botón -->
      <div class="flex flex-col">
          <!-- Título -->
          <h2 class="text-2xl font-bold mb-2" th:text="${mascotas.nombre}"></h2>
          
          <!-- Botón -->
          <a th:href="@{/solicitudes/eliminarMascota/{id} (id=${mascotas.ID_Mascota})}" class="bg-red-400 text-white py-2 px-4 rounded-full font-bold hover:bg-red-500">Bajar/Retirar Mascota</a>
      </div>
  </div>
  
  
  
      <!-- Cuadro 1 -->
      <div  th:each="solicitudes : ${solicitud}"> 
      <div  th:if="${mascotas.ID_Mascota == solicitudes.mascota.ID_Mascota and solicitudes.estado != 'Rechazada'}" class="bg-white p-4 rounded border-2 border-gray-200 m-2">
          <div  class="flex items-center">
              <div class="w-20 h-20 bg-gray-300 rounded-full overflow-hidden flex-shrink-0">
                  <img th:src="@{/logos/{img} (img=${solicitudes.usuario.imagen_perfil})}" alt="Imagen de Firulais" class="w-full h-full object-cover">
              </div>
              <div class="ml-4">
                  <p class="text-gray-600 mb-4">
                      <strong>Interesado:</strong> <span th:text="' '+${solicitudes.usuario.nombre_completo}"></span>
                  </p>

                  <p class="text-gray-600 mb-4">
                      <strong>Fecha De Solicitud:</strong> <span th:text="' '+${solicitudes.fecha}"></span>
                  </p>

                  <p class="text-gray-600 mb-4">
                      <strong>Descripcion:</strong> <span th:text="' '+${solicitudes.comentarios}"></span>
                  </p>
              </div>
          </div>
          <div th:if="${solicitudes.estado != 'Aceptado'}"  class="flex items-center justify-between mt-4">
              <a th:href="@{/solicitudes/aceptada/{id} (id=${solicitudes.ID_solicitudes})}" class="bg-amber-400 text-white py-2 px-4 rounded-full font-bold hover:bg-amber-500">Aceptar Solicitud</a>
              <a th:href="@{/solicitudes/eliminar/{id} (id=${solicitudes.ID_solicitudes})}" class="bg-amber-400 text-white py-2 px-4 rounded-full font-bold hover:bg-amber-500">Declinar Solicitud</a>
          </div>
            <div th:if="${solicitudes.estado == 'Aceptado'}"  class="flex items-center justify-between mt-4">
              <a th:href="@{/solicitudes/perfil/{id} (id=${solicitudes.ID_solicitudes})}" class="bg-amber-400 text-white py-2 px-4 rounded-full font-bold hover:bg-amber-500">Ver Perfil del titular</a>
          </div>
      </div>
  </div>

    </div>
    
 
            
        
    </main>

        <footer th:insert="fragments/footer :: pie-pagina">

        </footer>
    

</body>
</html>