<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Peticiones</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="../img-prin/favicom.png" type="image/x-icon">

</head>
<body class="bg-gray-100">
    
    <header th:insert="fragments/header :: menu-principal" class="flex flex-col   ">

        </header>
  

    <main class="py-8 px-8">
        <h1 class="text-3xl font-bold mb-8 text-center">NOTIFICACIONES</h1>

        
      <!--div class="flex mb-4 space-x-4">
        <a th:href="@{/peticion/index}" th:if="${solicitud != null}" class="bg-yellow-500 text-white py-2 px-4 rounded border hover:bg-yellow-600">Historial De Peticiones</a>
        <a th:href="@{/solicitudes/index}" th:if="${verificarMascota == 0}" class="bg-yellow-500 text-white py-2 px-4 rounded border hover:bg-yellow-600">Historial De Solicitudes</a>          
    </div -->
        
        

       <div class="space-y-4" th:each='solicitud : ${solicitud}'>
            <div class="bg-white p-4 rounded shadow-md flex items-center">
                <div class="w-20 h-20 bg-gray-300 rounded-full overflow-hidden">
                    <img th:src="@{/logos/{img}(img=${solicitud.mascota.imagen_perfil})}" alt="Imagen de Michi" class="w-full h-full object-cover">
                </div>
                <div class="ml-4">
                    <h2 class="text-xl font-bold" th:text="${solicitud.mascota.nombre}"></h2>
                    <p>Solicitud: <span class="font-semibold" th:text="${solicitud.estado}"></span></p>
                    <p class="text-gray-600 mb-4">
                        <strong>Nombre Del Titular:</strong> <span th:text="' '+${solicitud.usuario.nombre_completo}+' '+${solicitud.usuario.apellidos}"></span>
                    </p>
                    <p class="text-gray-600 mb-4">
                        <strong>Fecha:</strong> <span th:text="' '+${solicitud.fecha}"></span>
                    </p>
                    <a th:if="${solicitud.estado == 'Aceptado'}" th:href="@{/peticion/perfil/{id} (id=${solicitud.mascota.ID_Mascota})}"  class="bg-yellow-500 text-white py-2 px-4 rounded mt-2 hover:b}g-yellow-600">Ver Perfil del titular</a>    
                </div>
            </div>
        </div>
        
    </main>


     <footer th:insert="fragments/footer :: pie-pagina">

        </footer>

</body>
</html>
