<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAM</title>
    <link rel="stylesheet" href="../styles/outputt.css">
    <link rel="shortcut icon" href="../img-prin/favicom.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
</head>

<body class="bg-gray-100">

    <header th:insert="fragments/header :: menu-principal" class="flex flex-col"></header>

     <div class="bg-gray-100 lg:px-10 pl-20 mb-8 mt-8 flex flex-wrap justify-center gap-10 overflow-auto">
    <div th:each="mascotas :${mascota}" class="bg-amber-400 text-black w-72 min-h-[10rem] shadow-lg rounded-md overflow-hidden mb-8 flex flex-col">
        <img th:src="@{/logos/{img}(img=${mascotas.imagen_perfil})}" class="w-full h-32 object-cover" alt="">
        <div class="p-5 flex flex-col gap-3 flex-grow">
            <div class="flex items-center gap-2">
                <span class="px-3 rounded-full text-xs bg-gray-100 text-sky-500">Cariñoso</span>
                <span class="px-3 rounded-full text-xs bg-gray-100 text-sky-500">Juguetón</span>
            </div>
            <h2 th:text="${mascotas.nombre}" class="font-bold text-3xl overflow-hidden whitespace-nowrap"></h2>
            <div>
                <span th:text="${mascotas.descripcion}" class="text-xs font-semibold"></span><br>
                <span th:text="${mascotas.estado}" class="bg-green-400 px-5 py-0.5 rounded-md text-xs text-white"></span>
            </div>
            <div class="mt-auto flex gap-2">
               <a th:href="@{/solicitudes/create/{id}(id=${mascotas.ID_Mascota})}" class="bg-sky-500 hover:bg-sky-600 rounded-md px-6 py-2 text-white font-medium tracking-wider transition">
        Adoptar
    </a>
    <a th:href="@{/publicacion/perfil/{id}(id=${mascotas.ID_Mascota})}" class="flex-grow flex justify-center items-center bg-gray-300/60 hover:bg-gray-300/80 transition rounded-md">
        <img src="../img-prin/eye-fill.png" alt="">
    </a>
            </div>
        </div>
    </div>
</div>

    
    

    <footer th:insert="fragments/footer :: pie-pagina"></footer>

</body>

</html>
