<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Publicaciones - SAM</title>
    <link rel="stylesheet" href="../styles/outputt.css">
    <link rel="shortcut icon" href="../img-prin/favicom.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">
    <style>
    </style>
</head>

<body class="bg-gray-100">

    <header th:insert="fragments/header :: menu-principal" class="flex flex-col"></header>

    <h1 class="text-4xl font-bold text-center mt-5 mb-10 text-amber-500">Mis Publicaciones</h1>

   <div class="bg-gray-100 lg:px-10 pl-20 mb-8 mt-8 flex flex-wrap justify-center gap-10 overflow-auto">
    <div th:each="mascotas :${mascota}" class="bg-amber-400 text-black w-72 min-h-[10rem] shadow-lg rounded-md overflow-hidden mb-8 flex flex-col justify-between">
        <div>
            <img th:src="@{/logos/{img}(img=${mascotas.imagen_perfil})}" class="w-full h-32 object-cover" alt="">
            <div class="p-5 flex flex-col gap-3">
               
                <h2 th:text="${mascotas.nombre}" class="font-bold text-3xl overflow-hidden whitespace-nowrap"></h2>
                <div>
                    <span th:text="${mascotas.descripcion}" class="text-xs font-semibold"></span><br>
                    <span th:text="${mascotas.estado}" class="bg-green-400 px-5 py-0.5 rounded-md text-xs text-white"></span>
                </div>
            </div>
        </div>
      <div class="p-5 mt-auto">
    <div class="flex gap-2">
        <a th:href="@{/publicacion/editar/{id}(id=${mascotas.ID_Mascota})}" class="bg-blue-500 hover:bg-blue-600 rounded-md px-6 py-2 text-white font-medium tracking-wider transition">
            Actualizar
        </a>
        <a th:href="@{/publicacion/mascota/{id}(id=${mascotas.ID_Mascota})}" class="flex items-center justify-center gap-1 p-2 rounded-md transition-colors duration-300 bg-yellow-500 hover:bg-yellow-600 text-white" title="Ver Perfil">
            <i class="ri-user-line text-2xl"></i>
        </a>
        <button class="flex items-center justify-center gap-1 p-2 rounded-md transition-colors duration-300 bg-red-500 hover:bg-red-600 text-white" title="Eliminar" onclick="confirmarEliminacion()">
            <i class="ri-delete-bin-line text-2xl"></i>
        </button>
    </div>
</div>

    </div>
</div>
    
    <script>
        function confirmarEliminacion() {
            if (confirm('¿Seguro que quieres eliminar tu publicación?')) {
                // Lógica para eliminar la publicación
            }
        }
    </script>

</body>

</html>