<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
   



        #successMessage.show {
            opacity: 1; /* Hacer visible con animación */
        }

        /* Animación de entrada */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
</head>
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">

<header th:insert="fragments/header :: menu-principal" class="flex flex-col mb-10"></header>

<!-- Mensaje de éxito mejorado -->
<div id="successMessageContainer" th:if="${mensaje != null}" class="hidden fixed top-15 left-1/2 transform -translate-x-1/2 z-50">
    <div id="successMessage" class="bg-green-500 text-white px-6 py-5 rounded-md shadow-lg opacity-100 transition-opacity duration-300 ease-in-out flex items-center">
        <svg class="w-6 h-6 inline-block mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <span th:text="${mensaje}" class="font-bold"></span>
    </div>
</div>


<div class="w-full justify-center flex items-center h-auto lg:h-screen flex-wrap mx-auto my-16 lg:my-0">
    <!-- Main Col -->
    <div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">
        <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Imagen para vista móvil -->
            <div class="block rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                 th:style="'background-image: url(/logos/' + ${session.usuario.Imagen_perfil} + ');'"></div>

            <h1 class="text-3xl font-bold pt-8 lg:pt-0" th:text="${session.usuario.nombre_completo + ' ' + session.usuario.apellidos}"></h1>

            <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>

            <div class="flex items-center justify-start flex-row">
                <h1 class="font-bold pt-4 mr-5">Número:</h1>
                <p class="pt-4 text-base flex items-center justify-center lg:justify-start" th:text="${session.usuario.telefono}"></p>
            </div>
            <div class="flex items-center justify-start flex-row">
                <h1 class="font-bold pt-4 mr-5">Correo:</h1>
                <p class="pt-4 text-base flex items-center justify-center lg:justify-start" th:text="${session.usuario.correo}"></p>
            </div>

            <div class="pt-12 pb-8">
                <a th:href="@{/perfil/editar/{id} (id=${session.usuario.ID_usuario})}" class="pr-5 py-5">
                    <span class="bg-yellow-500 text-white px-4 py-2 rounded-full transition-colors duration-300 ease-in-out hover:bg-orange-500 inline-block text-center font-bold">Actualizar datos</span>
                </a>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: pie-pagina"></footer>

<script src="../static/js/perfilUsuario.js"></script>

</body>
</html>




